[data-testid="stSidebar"] img[src*="itau-novo-logotipo.jpg"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: 1000;
}

[data-testid="stSidebar"] div[data-testid="stVerticalBlock"]>div:nth-child(2) {
    z-index: 999;
}