/* Azul Itaú para títulos, headers e subheaders */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0073A8 !important;
    /* Laranja Itaú */
}

/* Azul Itaú para botões, mantendo aparência nativa do Streamlit */
.stButton>button {
    background-color: #0073A8 !important;
    /* Azul Itaú */
    color: #FFFFFF !important;
    border: none !important;
}

/* Laranja Itaú para o menu lateral (sidebar) */
[data-testid="stSidebar"] {
    background-color: #FF6200 !important;
    color: #FFFFFF !important;
}

/* Fundo quase branco, puxando para um bege suave */
.stApp {
    background-color: #f7f3f3 !important;
    /* Bege claro */
}